body {
        background-color: #558;
        height: 100vh;
        margin: 0;
        font-family: sans-serif;
        overflow: hidden;
}

.round-buttons button {
        border-radius: 50%;
        font-weight: bolder;
}

.menu {
        flex-grow: 0;
        margin: 10px;
}

.menu img {
        height: 3em;
        width: auto;
        float: left;
        margin-right: 0.5em;
}

.layer {
        height: 100%;
        margin-top: 2em;
}

.explanation {
        max-width: 1000px;
        background-color: #ffd;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5em;
        padding: 3em;
        font-size: 20px;
        border-radius: 1em;
}

.hostname {
        font-family: monospace;
        font-size: 80%;
}

span.initial {
        display: inline-block;
        width: 0;
        height: 0;
}
span.initial img {
        position: absolute;
        margin-top: -4em;
        margin-left: -200px;
}
span.firstword {
        color: #700;
        font-size: 150%;
}
img#pangur-ban {
        position: absolute;
}

.container {
  display: flex;
  flex-flow: row;
}

.left {
  width: 50%;
  display: flex;
  flex-flow: column;
  height: 100%;
  overflow: hidden;
  flex-grow: 1;
}

.scanned-text {
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
}

.right {
  width: 50%;
  display: flex;
  flex-flow: column;
  height: 100%;
  position: relative;
  overflow: hidden;
  flex-grow: 1;
}

.good-text {
  flex-shrink: 1;
  flex-grow: 1;
  position: relative;
  flex-grow: 1;
}

.source-image {
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
}

.zoom-controls {
        position: absolute;
        top: 0;
        left: 0.5em;
        z-index: 10;
}

.zoom-controls button {
        background-color: #FF0;
        color: #000;
        font-size: 1em;
        margin: 0.5em;
        cursor: pointer;
}

.comparison {
  background-color: #FFF;
  flex-shrink: 1;
  flex-grow: 1;
  position: relative;
}

.dialog {
        min-width: 60%;
        min-height: 60%;
        justify-content: center;
        background-color: #AAA;
        /* The trick below is for centreing. You create a thing with its top left
         * in the centre of the container, and then shift it up & left by half *its*
         * size, using tranform.
         /* ... initially make me start with my top-left at the centre */
         position: absolute;
         left: 50%;
         top: 50%;
         /* ... then shift me half *my* total width left and up */
         -ms-transform: translate(-50%,-50%);
         -moz-transform: translate(-50%,-50%);
         -webkit-transform: translate(-50%,-50%);
         transform: translate(-50%,-50%);
         padding: 10px;
         padding-top: 2em;
         border: 5px outset;
        display: flex;
        flex-direction: column;
}

.dialog-header {
        position: absolute;
        top: 0; left: 0; right: 0; bottom: auto;
        height: 1.5em;
        padding-top: 0.3em;
        font-weight: bold;
        background-color: #fff;
        text-align: center;
        border-bottom: 5px inset;
}

#dialog-close {
        position: absolute;
        top: 5px; right: 10px;
        height: 1.5em;
}

.dialog-row {
        display: flex;
        flex-direction: row;
}

#bookname {
        flex-shrink: 0;
        flex-grow: 1;
}

#bookload {
        flex-shrink: 0;
        flex-grow: 0;
}

#pagelist {
        flex-grow: 1;
}

#pageopen {
        flex-grow: 0;
}

.draggy {
  height: 0px;
  border: 6px #ccc outset;
  border-left: 20vw;
  border-right: 20vw;
  cursor: ns-resize;
  flex-shrink: 0;
  flex-grow: 0;
}

.inner {
  overflow: auto;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  padding: 5px;
  height: 100%;
}

.panel {
        overflow: hidden scroll;
}

textarea {
        width: 100%;
        background-color: inherit;
        font-family: inherit;
}

.lexeme {
        font-size: 16pt;
        background-color: #FFD;
        text-align: center;
        vertical-align: top;
        display: inline-flex;
        flex-flow: column;
        margin-bottom: 10px;
        border: 2px transparent;
}

.current {
        border: 2px outset #000 !important;
}

.lexeme div {
        border: 1px solid #ddd;
        flex-shrink: 0;
        flex-grow: 0;
        display: inline;
        min-height: 3ex;
}

.lexeme div.good {
        border-bottom: 5px transparent dotted;
        min-height: 0.5ex;
        background-color: #ddd;
}

.lexeme.matches div.good {
        background-color: #dfd;
}

.lexeme.no-matches div.good {
        background-color: #fdd;
}

.lexeme div.lex {
        background-color: #fff;
        font-size: 60%;
}

.lexeme div.lex a {
        display: none;
}

.lexeme div.lex a[href] {
        display: inline-block;
        margin-left: 0.1em;
        margin-right: 0.1em;
}

.good {
        background-color: #dfd;
}

.scan {
        background-color: #dff;
}

.lexeme a {
        color: inherit;
        text-decoration: inherit;
}

div.lex.looking-up {
        background-color: #555;
}

.u {
        display: none;
}

.k {
        display: inline;
}

.lookup {
        display: none;
}

/** Menus **/

header {
    position: absolute;
    top: 0; bottom: auto;
    left: 0; right: 0;
    height: 2em;
    background-color: #ccc;
    z-index: 1;
    display: flex;
}

#logo {
        height: 100%;
        font-size: 2.5em;
        margin-left: .2em;
        font-weight: bold;
        margin-top: -.4em;
}

#logo::after {
        content: 'ꝕ';
}

#logo.waiting {
        margin-top: -.3em;
}

#logo.waiting::after {
        content: '⧖';
}

header h2, header span, header input {
        font-family: inherit;
        font-size: 1.2em;
        font-weight: normal;
        padding: 0.3em;
        padding-bottom: 0.1em;
}

header h2 {
        margin: 0;
        margin-left: 1em;
        margin-top: 0;
        margin-bottom: 0;
        user-select: none;
}

#page_number_box {
        width: 3em;
        text-align: right;
}

header div {
        display: inline-block;
        height: 100%;
        margin-bottom: auto;
        cursor: default;
}

header div.menu-selected h2 {
        background-color: #000;
        color: #fff;
}

header ul {
        list-style: none;
        border: 3px #ccc ridge;
        position: absolute;
        margin: 0;
        margin-left: 0.8em;
        padding: 0.5em;
        padding-left: 0;
        padding-right: 0;
        background-color: #ccc;
        font-size: 1.2em;
        display: none;
}

header li.disabled a {
        color: #999;
        user-select: none;
}

header li {
        user-select: none;
        padding-left: 1.3em;
        min-width: 6em;
}

header li:hover {
        background-color: #000;
        color: #fff;
}

header div.menu-selected ul {
        display: block;
}

#close-button {
        font-size: 2em;
        position: absolute;
        right: 1em;
        top: 3em;
        width: 1em;
        height: 1em;
        background-color: #ffd;
        padding: 0.3em;
        padding-top: 0.2em;
        border: 4px solid #000;
        border-radius: 1em;
        user-select: none;
        cursor: pointer;
        z-index: 10;
}
